<!DOCTYPE html>
<html lang="de">

<!-- machine Code -->

<head>
    <meta charset="utf-8">
    <title>✨Holy Grail Layout_CC07✨</title>
    <link rel="stylesheet" href="../styles/mainStyle.css" />
</head>
<!-- Human Code -->

<body>
    <div class="body">
        <div class="el NavBar">
            <div class="FlexNavItems">
                <div class="LeftNavSide">
                    <div class="NavLogo">
                        <h1 class="Logo">LOGO</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="RightNavSide">
                    <button>Write my an Email</button>
                </div>
            </div>
        </div>
        <div class="el Content">
            <section class="TodoListSection">
                <div class="Contenheader">
                    <h1 class="Intro">Welcome to my simple todoList Project</h1>
                </div>
            </section>
        </div>
        <div class="el LeftPanel"></div>
        <div class="el RightPanel"></div>
        <div class="el Footer"></div>
    </div>
</body>

</html>